@{
    ViewData["Title"] = "About";
}
<h1>Do you hate potholes?</h1>
<div>
    <p>
        So do we!! That is why we have created this pothole tracking application. Living in Cleveland, we have to batle with these things on a daily
        basis. Protect your car AND your sanity by signing up <strong>FOR FREE</strong> and never hit a pothole again!!
    </p>
</div>
<div class="col-lg-6">
    <p>You don't believe us? Read the testimonials from "real" users!!!</p>
    <ul>
        <li>Mary says: "This app is totally okay I guess."</li>
        <li>Tony says: "It's alright, I've used it a couple times."</li>
        <li>Josh says: "If you like to be confused than you should attempt to use this."</li>
        <li>Natalie says: "This is the biggest pile of crap application...I mean, it's great I love it!"</li>
        <li></li>
        <li></li>
    </ul>
</div>
<br />
<div class="col-lg-6">
    <img src="https://www.insurancejournal.com/app/uploads/2016/03/pothole-damage-costs-us-580x571.jpg" class="img-circle img-responsive" />
</div>
<br />