@model IList<WebApplication.Web.Models.Account.Report>
@{
    ViewData["Title"] = "Employee";
}

<h2 id="employee-title">Active Reports</h2>
<p id="employee-welcome">There is work to be done!</p>
<h3 style="text-align: center; color: aliceblue;">Table legend:</h3>
<div class="legend-container">
    
    <div>
        <ul style="color: aliceblue;">
            Severity:
            <li><strong style="color: green;">Green</strong> is not bad</li>
            <li><strong style="color: orange;">Orange</strong> is kind of bad</li>
            <li><strong style="color: red;">Red</strong> is impending doom to anyone who drives over it</li>
        </ul>
    </div>
    <div>
        <ul style="color: aliceblue;">
            Status:
            <li><strong style="color:red;">Red</strong> is reported</li>
            <li><strong style="color:orange;">Orange</strong> is inspected</li>
            <li><strong style="color:green;">Green</strong> is repaired</li>
        </ul>
    </div>
</div>
<table id="pothole-table" class="table table-bordered table-sm table-responsive" cellspacing="0" width="100%" style="color: white;">
    <thead>
        <tr>
            <th class="th-sm">
                ID#
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Location
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Date Created
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Severity
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                status
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </tr>
    </thead>
    <tbody id="table-data">
        @foreach(var report in Model)
        {
            <tr>
                <td><button>@report.Id</button></td>
                <td>@report.Lattitude,  @report.Longitude</td>
                <td>@report.DateCreated</td>

                @if (report.Severity == 3)
                {
                    <td style="background-color: red;"></td>
                }
                else if (report.Severity == 2)
                {
                    <td style="background-color: orange;"></td>
                }
                else
                {
                    <td style="background-color: green;"></td>
                }

                @if (report.Status == 3)
                {
                    <td style="background-color: green;"></td>
                }
                else if (report.Status == 2)
                {
                    <td style="background-color: orange;"></td>
                }
                else
                {
                    <td style="background-color: red;"></td>
                }
            </tr>
        }
    </tbody>
</table>
<hr/>
<br/>