@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.6990981034487!2d-81.63955583415215!3d41.50364951441245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9d82124a23048b8!2sTech+Elevator+Cleveland!5e1!3m2!1sen!2sus!4v1534089697210" width="1200" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

@*<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>

    </div>
    <div class="col-md-3">
        <h2>How to</h2>

    </div>
    <div class="col-md-3">
        <h2>Overview</h2>

    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>

    </div>
</div>*@