@model IList<WebApplication.Web.Models.Account.Report>
@{
    ViewData["Title"] = "Home Page";
}


<div id="large-map">
    <div class="container-fluid img-responsive center-image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.6990981034487!2d-81.63955583415215!3d41.50364951441245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9d82124a23048b8!2sTech+Elevator+Cleveland!5e1!3m2!1sen!2sus!4v1534089697210" width="1200" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<div id="medium-map">
    <div class="container-fluid img-responsive center-image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.6990981034487!2d-81.63955583415215!3d41.50364951441245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9d82124a23048b8!2sTech+Elevator+Cleveland!5e1!3m2!1sen!2sus!4v1534089697210" width="1050" height="525" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<div id="normal-map">
    <div class="container-fluid img-responsive center-image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.6990981034487!2d-81.63955583415215!3d41.50364951441245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9d82124a23048b8!2sTech+Elevator+Cleveland!5e1!3m2!1sen!2sus!4v1534089697210" width="700" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<div id="small-map">
    <div class="container-fluid img-responsive center-image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.6990981034487!2d-81.63955583415215!3d41.50364951441245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9d82124a23048b8!2sTech+Elevator+Cleveland!5e1!3m2!1sen!2sus!4v1534089697210" width="550" height="275" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<div id="tiny-map">
    <div class="container-fluid img-responsive center-image">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.6990981034487!2d-81.63955583415215!3d41.50364951441245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc9d82124a23048b8!2sTech+Elevator+Cleveland!5e1!3m2!1sen!2sus!4v1534089697210" width="280" height="140" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<BR />
<BR />
<BR />

<div class="seperator">

    <div class="button-container">
        <Button class="index-button">Test</Button>
        <Button class="index-button">Test</Button>
        <Button class="index-button">Test</Button>

    </div>
</div>





@foreach (var report in Model)
{
    <div id="potholes_reported">
        <p>@report.Lattitude</p>
        <p>@report.Longitude</p>
    </div>

}
    <div id="about">
        <h1>Do you hate potholes?</h1>
        <div>
            <p>
                So do we!! That is why we have created this pothole tracking application. Living in Cleveland, we have to batle with these things on a daily
                basis. Protect your car AND your sanity by signing up <strong>FOR FREE</strong> and never hit a pothole again!!
            </p>
        </div>
        <div class="col-lg-6">
            <p>You don't believe us? Read the testimonials from "real" users!!!</p>
            <ul id="testimonials">
                <li>Mary says: "This app is totally okay I guess."</li>
                <li>Tony says: "It's alright, I've used it a couple times."</li>
                <li>Josh says: "If you like to be confused than you should attempt to use this."</li>
                <li>Natalie says: "This is the biggest pile of crap application...I mean, it's great I love it!"</li>
                <li>Justin says: "This is the best application ever made by man kind."</li>
                <li>Donny Trump says: "This is the best ever, you know it, I know it, everybody knows it."</li>
            </ul>
        </div>
        <br />
        <div class="col-lg-6">
            <img src="https://www.insurancejournal.com/app/uploads/2016/03/pothole-damage-costs-us-580x571.jpg" class="img-circle img-responsive" />
        </div>
    </div>
<br />