/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 5%;
    padding-right: 5%;
}

 /*Navigation Bar*/
 .navbar {
     background: linear-gradient(rgb(78, 96, 106), rgb(0, 0, 0));
 }

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.main-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    color: aliceblue;
}

.main-report {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
    height: auto;
}

.report-number {
    font-size: 4em;
    font-weight: bold;
    color: goldenrod;
}


/** Map section start **/

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 499px) {
    /* Hide captions */
}

.center-image {
    text-align: center;
}

/** Map Section End **/




#map {
    height: 500px;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
}


/****  Register.cshtml  ****/

h2.register-title {
    color:aliceblue;
    text-align: center;
}

p.register-desc {
    color:goldenrod;
    text-align: center;
}

.field-validation-error {
    font-weight:bold;
}

#register label {
   color:aliceblue;
   padding-left:1.3rem;
}

div.form-field {
    display:block;
    margin-bottom:1.2rem;
}


/** About section start **/


#about {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-about {
    text-align: center;
}

/** Modal start **/


.modal-header, h4, .close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-header {
    padding: 35px 50px;
}

.modal-body {
    padding: 40px 50px;
}

.modal-footer {
    background-color: #f9f9f9;
}

/****  INDEX.CSHTML ****/

li > a#login {
    cursor: pointer;
}
/** View Profile **/

#profile-title {
    color: aliceblue;
    text-align: center;
}

.profile-welcome {
    color: aliceblue;
    text-align: center;
}

strong#user-name {
    color: goldenrod;
}

.user-data {
    color: aliceblue;
    font-weight: bold;
}

/** Employee view **/

#employee-title {
    color: aliceblue;
    text-align: center;
    font-weight: bolder;
}

#employee-welcome {
    color: goldenrod;
    text-align:center;
    font-weight: bold;
    margin-bottom: 30px;
}

#pothole-table {
    color: aliceblue;
}

#table-data {
    color: black;
    background-color: white;
}