/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 25px;
}

 /*Navigation Bar*/
 .navbar {
     background: linear-gradient(rgb(78, 96, 106), rgb(0, 0, 0));
 }

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


/** Map section start **/

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 499px) {
    /* Hide captions */
    #large-map {
        display: none;
    }

    #normal-map {
        display: none;
    }

    #medium-map {
        display: none;
    }

    #small-map {
        display: none;
    }

    .index-button {
        margin-right: 1%;
        margin-left: 1%;
        height: 30px;
        width: 50px;
        background-color: orange;
    }
}

/* Hide/rearrange for smaller screens */
@media screen and (min-width: 500px) and (max-width: 767px) {
    /* Hide captions */
    #large-map {
        display: none;
    }

    #normal-map {
        display: none;
    }

    #medium-map {
        display: none;
    }

    #tiny-map {
        display: none;
    }

    .index-button {
        margin-right: 3%;
        margin-left: 3%;
        height: 40px;
        width: 120px;
        background-color: orange;
    }
}


/* Hide/rearrange for smaller screens */
@media screen and (min-width: 768px) and (max-width: 1100px) {
    /* Hide captions */
    #large-map {
        display: none;
    }

    #medium-map {
        display: none;
    }

    #small-map {
        display: none;
    }

    #tiny-map {
        display: none;
    }

    .index-button {
        margin-right: 7.5%;
        margin-left: 7.5%;
        height: 40px;
        width: 120px;
        background-color: orange;
    }

}

/* Hide/rearrange for smaller screens */
@media screen and (min-width: 1101px) and (max-width: 1439px) {
    /* Hide captions */
    #small-map {
        display: none;
    }

    #normal-map {
        display: none;
    }

    #large-map {
        display: none;
    }

    #tiny-map {
        display: none;
    }

    
    .index-button {
        margin-right: 7%;
        margin-left: 7%;
        height: 40px;
        width: 120px;
        background-color: orange;
    }

}

/* Hide/rearrange for smaller screens */
@media screen and (min-width: 1440px) {
    /* Hide captions */

    #tiny-map {
        display: none;
    }
    
    #small-map {
        display: none;
    }
    #normal-map {
        display: none;
    }
    #medium-map {
        display: none;
    }

    .index-button {
        margin-right: 8%;
        margin-left: 8%;
        height: 40px;
        width: 120px;
        background-color: orange;
    }
}

.center-image {
    text-align: center;
}

/** Map Section End **/

/** Button section start **/

.seperator {
    background-color: blue;
    text-align: center;
}

.button-container {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/** Button section end **/


#map {
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;


/****  Register.cshtml  ****/

.field-validation-error {
    font-weight:bold;
}

#register input {
    display:block;
}

/** About section start **/


#about {
    color: white;
}

/** Modal start **/


.modal-header, h4, .close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-header {
    padding: 35px 50px;
}

.modal-body {
    padding: 40px 50px;
}

.modal-footer {
    background-color: #f9f9f9;
}
