@model User
@{
    ViewData["Title"] = "ViewProfile";
}

<h2>Your Profile</h2>

<table>
    <tr>
        <td>Username: @Model.Username</td>
    </tr>
    <tr>
        <td>First Name: @Model.FirstName</td>
    </tr>
    <tr>
        <td>Last Name: @Model.LastName</td>
    </tr>
    <tr>
        <td>Phone Number: @Model.PhoneNumber</td>
    </tr>
</table>